body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #073763;
  padding: 0 10px;
  text-align: center;
}
h1,h2,h3 {
  font-family: 'Lobster', cursive, serif;
  line-height: 1.2;
  background-color: #d0e0e3;
  color: #980000;
}
h1 {
  font-size: 6em;
}
h1 > a {
  color: #980000;
  text-decoration: none;
  
}
