<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lobster&family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
  <title>{{ page.title }} - {{site.title}}</title>
</head>
<body>
  <h1><a href="/">{{ page.title }}</a></h1
  {{ content }}
</body>
</html>
